---
import "@/styles/global.css";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<meta name="google-site-verification" content="vvYKrDex3xIAs-tQXQmlOK0-C43BYHhjnA-8VpadM9Q" />
<meta name="google-site-verification" content="ZTiM1eePjssrsGUHLIF5fR8Hxjw9QxEEQNd_DtO-v9E" />
<link rel="mask-icon" href="/favicon.svg" color="#000000">
<title>TITLE</title>
