---
import LayoutUsers from "@layouts/LayoutUsers.astro";
import type { GetStaticPaths } from "astro";


export async function getStaticPaths() {
    const paths = [
        { params: { id: "1" } },
        { params: { id: "2" } },
        { params: { id: "3" } },
    ];

  return paths;
}


const {id} = Astro.params;
---

<LayoutUsers>
   <h1>This is the page of the user {id}</h1>
</LayoutUsers>